.jumbotron {
    color:white;
    margin-top:50px;
    background-image:  url("../images/portal.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    height: 250px;
}

.card-producto {
    flex: 1 200px;
    padding: 2px 0px 5px 0px;
    margin-top: 10px;

}

.btn-producto {
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-item{
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
}