$colorBtnPrincipal:white;

$colorjumbotron:white;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

$colorjumbotronFondo:  rgba(0,0,0,0.4);
@mixin configuracionjumbotron($size, $position, $bcolor, $bblendmode, $altura){
    background-size: $size;
    background-position: $position;
    background-color: $bcolor;
    background-blend-mode: $bblendmode;
    height: $altura;
}

.jumbotron {
    color: $colorjumbotron;
    @include margenes(50px, 0px);
    background-image:  url("../images/portal.jpg");
    @include configuracionjumbotron(cover,center ,$colorjumbotronFondo ,darken ,250px );
}

.card-producto {
    flex: 1 200px;
    padding: 2px 0px 5px 0px;
    @include margenes(10px, 0px);


}

.btn-principal{
    background-color: $colorBtnPrincipal;
}

.btn-producto {
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 10px;
    
}

