@colorBtnPrincipal: white;
@colorjumbotron: white;

.margenes(@top: 0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}


@colorjumbotronFondo:  rgba(0,0,0,0.4);
.configuracionjumbotron(@size, @position, @bcolor, @bblendmode, @altura){
    background-size: @size;
    background-position: @position;
    background-color: @bcolor;
    background-blend-mode: @bblendmode;
    height: @altura;
}

.jumbotron {
    color: @colorjumbotron;
    .margenes(50px, 0px);
    background-image: url("../images/portal.jpg");
    .configuracionjumbotron(cover ,center ,@colorjumbotronFondo ,darken ,250px );

}
  
  .card-producto {
    flex: 1 200px;
    padding: 2px 0px 5px 0px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-principal {
    background-color: @colorBtnPrincipal; }
  
  .btn-producto {
    width: 100%;
    border-radius: 0px; }
  
  .tab-content {
    padding-top: 10px; }
  